@charset "UTF-8";
/*!
* ress.css • v3.0.1
* MIT License
* github.com/filipelinhares/ress
*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

html, body {
  font-size: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section__wrapper {
  position: relative;
}

.btn__img {
  width: 160px;
  height: auto;
}

.btn__img img {
  max-width: 100%;
}

.color__wrapper {
  background-color: #F0F0F0;
}

/* Home Page */
.header__wrapper {
  position: fixed;
  z-index: 3;
  width: 100vw;
  padding: 30px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1324px;
  margin: 0 auto;
}

.header__logo {
  width: 260px;
  height: auto;
  display: flex;
}

.header__logo img {
  max-width: 100%;
  object-fit: cover;
}

.fv__text__1 {
  margin-bottom: 8px;
}

.fv__text__2 {
  margin-bottom: 10px;
}

.header__nav {
  display: none;
}

.menu__wrapper {
  display: flex;
  align-items: center;
}

/* ハンバーガーメニュー
--------------------------- */
.menu {
  width: 1.375rem;
  height: 0.625rem;
  position: relative;
  z-index: 3;
  border: none;
  margin-right: 7px;
}

.bar {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.bar__top {
  top: 0px;
}

.bar__mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar__bottom {
  bottom: 0px;
}

.menu__text {
  font-size: 0.625rem;
  color: #fff;
}

/* ハンバーガーメニューの閉じる挙動
------------------------------------------- */
.menu.close .bar__top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform .3s;
}

.menu.close .bar__mid {
  opacity: 0;
  transition: opacity .3s;
}

.menu.close .bar__bottom {
  transform: translate(-50%, -13px) rotate(-45deg);
  transition: transform .3s;
}

/* ------------------------------
SP画面
------------------------------- */
/* font
----------------------------------- */
.menu__text {
  font-family: Montserrat ExtraBold;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.005em;
}

@media screen and (max-width: 768px) {
  .header__inner {
    max-width: 708px;
  }
  .header__logo {
    width: 189px;
    height: auto;
    display: flex;
  }
  .header__logo img {
    max-width: 100%;
    object-fit: cover;
  }
}

.fv__wrapper {
  position: relative;
  z-index: 1;
  height: 740px;
}

.fv__main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 78.6%;
}

.fv__main__img img {
  max-width: 100%;
}

.fv__sub__img {
  width: 54.2%;
  height: 740px;
  margin-left: auto;
}

.fv__sub__img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__catch {
  position: absolute;
  top: 22%;
  right: 13.5%;
  color: #FFFFFF;
}

/* font
------------------------ */
.fv__text__1 {
  font-family: 游ゴシック体;
}

.fv__text__2 {
  font-family: Montserrat;
}

.fv__text__1,
.fv__text__2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: 0em;
}

.fv__catch__title {
  font-size: 72px;
  font-weight: Bold;
  line-height: 1.19444;
  letter-spacing: 0em;
  font-family: 'Montserrat', sans-serif;
}

.about__wrapper {
  height: 627px;
}

.about__main__view {
  position: relative;
  /* section__wrapper 起点 */
  position: absolute;
  top: 120px;
  z-index: 1;
}

.about__inner {
  /* .about__main__viewのrelative 起点 */
  position: absolute;
  top: 110px;
  left: 50px;
  z-index: 1;
  max-width: 590px;
  height: 387px;
  background-color: #FFFFFF;
  opacity: .95;
}

.about__title {
  margin-left: 30px;
}

.btn__about {
  margin-left: 30px;
}

.about__img {
  max-width: 1100px;
  height: auto;
}

.about__img img {
  width: 100%;
  object-fit: cover;
}

.about__text {
  padding: 30px;
}

/* font
------------------------- */
.about__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 2.9375;
  letter-spacing: 0.068em;
}

.about__text {
  font-family: Noto Sans JP;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0em;
}

.content__title {
  margin-bottom: 30px;
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content__inner {
  margin: 180px 0 60px;
}

.content__img {
  width: 520px;
  height: auto;
}

.content__img img {
  max-width: 100%;
}

.content__text {
  padding: 30px 0;
}

/* font
------------------------- */
.content__inner {
  color: #333333;
}

.content__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.21875;
  letter-spacing: 0.068em;
}

.content__text {
  font-family: 游ゴシック体;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0em;
}

.topics__wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.topic__title {
  margin-bottom: 16px;
}

.topic__list {
  min-width: 700px;
  margin-left: auto;
}

.topic__day {
  padding-top: 16px;
}

.topic__text {
  padding: 12px 0 12px;
  margin-bottom: 16px;
  border-bottom: #DDDDDD 1px solid;
}

.btn__topic {
  padding-top: 14px;
  margin-left: auto;
}

/* font
------------------------ */
.topic__day {
  font-family: Montserrat Medium;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.015em;
  color: #CECECE;
}

.topic__text {
  font-family: 游ゴシック体;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.004em;
  color: #333333;
}

.contact__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 120px;
}

.contact__lead {
  max-width: 440px;
}

.contact__img {
  width: 580px;
  height: auto;
}

.contact__img img {
  max-width: 100%;
  object-fit: cover;
}

.btn__contact {
  margin-top: 30px;
}

/* font
----------------------- */
.contact__text {
  font-family: 游ゴシック体 Medium;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0em;
}

.footer {
  background-color: #525252;
  text-align: center;
}

.copyright {
  padding: 21px 0 19px;
}

/* font
----------------- */
.copyright {
  font-family: Montserrat Medium;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}

/* About Page */
.about_catch_position {
  margin-top: 11.46vh;
}

.about_main_img {
  max-width: 1100px;
  height: auto;
}

.about_main_img img {
  max-width: 100%;
  object-fit: cover;
}

.fv__sub {
  width: 54.2%;
  height: auto;
  margin-left: auto;
}

.fv__sub img {
  max-width: 100%;
  object-fit: cover;
}

.ab__fv__text {
  margin-top: 5px;
}

.company__map {
  position: relative;
  padding-bottom: 32.73%;
  padding-top: 30px;
  margin: 0 30px;
  height: 0;
  overflow: hidden;
}

.company__map iframe,
.company__map object,
.company__map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about_catch_position {
    margin-top: 0;
    top: 35.8%;
    right: 12.8%;
  }
  .about_main_img {
    width: 587px;
  }
  .about_main_img img {
    max-width: 100%;
    height: 529px;
    object-fit: cover;
    object-position: 45%;
  }
  .fv__sub {
    width: 52.9%;
    height: auto;
    margin-left: auto;
  }
  .fv__sub img {
    max-width: 100%;
    height: 615px;
    object-fit: cover;
  }
  .company__map {
    padding-bottom: 24.04%;
  }
}

/* font
----------------------------- */
.fv__catch__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: Bold;
  line-height: 1.19444;
  letter-spacing: 0.063em;
}

.ab__fv__text {
  font-family: Noto Sans JP Bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.005em;
}

@media screen and (max-width: 768px) {
  .fv__catch__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: Bold;
    line-height: 1.65385;
    letter-spacing: 0.063em;
  }
  .ab__fv__text {
    font-family: Noto Sans JP Bold;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.005em;
  }
}

.vision__wrapper {
  max-width: 415px;
  padding: 120px 0;
  margin-left: 16.143vw;
}

.vision__title {
  margin-bottom: 30px;
}

.vision__sub__title {
  margin-bottom: 30px;
}

/* font
----------------------------- */
.vision__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.068em;
  color: #333333;
}

.vision__sub__title {
  font-family: 游ゴシック体;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.005em;
  color: #333333;
}

.vision__text {
  font-family: Noto Sans JP Bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0em;
  color: #333333;
}

.message__wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 144px 0 120px;
}

.ceo__wrapper {
  width: 770px;
  background-color: #F0F0F0;
  padding: 120px 0 90px;
}

.ceo__inner {
  width: 400px;
  margin: 0 auto;
}

.message__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
}

.message__img img {
  max-width: 100%;
}

/* font
-------------------- */
.company__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.company__main__title {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.company__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 70%;
  margin-left: 30%;
}

.company__title {
  width: 30%;
}

.company__text {
  width: 70%;
}

.company__text,
.company__title {
  border-bottom: 1px solid #DDDDDD;
}

.company__map {
  margin-top: 40px;
}

/* font
----------------------- */
.company__main__title {
  font-family: Montserrat ExtraBold;
  font-size: 32px;
  line-height: 2.9375;
  letter-spacing: 0.068em;
  color: #333333;
}

.company__title {
  font-family: 游ゴシック体;
  font-size: 16px;
  font-weight: bold;
  line-height: 5.875;
  letter-spacing: 0em;
  color: #333333;
}

.company__text {
  font-family: 游ゴシック体;
  font-size: 16px;
  line-height: 5.875;
  letter-spacing: 0em;
  color: #333333;
}

.contact__form__wrapper {
  padding: 120px 0;
}

.contact__form__inner {
  max-width: 700px;
  margin: 0 auto;
}

.contact__form__text {
  margin-bottom: 55px;
}

.radio__main__title {
  display: block;
  margin-bottom: 20px;
}

.radio__item {
  margin-right: 50px;
}

.radio__check {
  margin-right: 10px;
}

.form__controll {
  margin-top: 45px;
}

.form__text,
.form__textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #333333;
}

.form__text {
  padding: 8px;
}

.form__textarea {
  padding: 9px;
  resize: none;
}

.privacy__check__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 43px 0 40px;
}

.praivacy__lead {
  border: 1px solid #333333;
  height: 252px;
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
}

.privacy__check {
  margin-left: 10px;
}

.btn {
  display: block;
  width: 160px;
  margin: 0 auto;
  background-color: #000000;
}

.badge {
  padding: 3px 5px;
  margin-left: 10px;
  background-color: #333333;
}

/* font
------------------------- */
.contact__form__text {
  font-family: Noto Sans JP;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.004em;
  color: #333333;
}

.radio__title {
  font-family: 游ゴシック体 Medium;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.016em;
  color: #333333;
}

.radio__main__title,
.form__title {
  font-family: Noto Sans JP Bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.004em;
  color: #333333;
}

.privacy__title {
  font-family: Montserrat ExtraBold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.004em;
}

.form__text,
.form__textarea {
  font-family: Noto Sans JP;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.004em;
  color: #333333;
}

.form__btn {
  font-family: Montserrat Medium;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.28571;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}

.badge {
  font-family: Noto Sans JP Bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.004em;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .contact_main_img {
    width: 578px;
    height: auto;
  }
  .contact_main_img img {
    max-width: 100%;
    height: 529px;
    object-fit: cover;
    object-position: 47%;
  }
}
/*# sourceMappingURL=style.css.map */