@charset "UTF-8";
/*!
* ress.css • v3.0.1
* MIT License
* github.com/filipelinhares/ress
*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

html, body {
  font-size: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section__wrapper {
  position: relative;
}

.btn__img {
  width: 160px;
  height: auto;
}

.btn__img img {
  max-width: 100%;
}

.header__wrapper {
  position: fixed;
  z-index: 3;
  width: 100vw;
  padding: 30px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1324px;
  margin: 0 auto;
}

.header__logo {
  width: 260px;
  height: auto;
}

.header__logo img {
  max-width: 100%;
  object-fit: cover;
}

.header__nav {
  display: none;
}

.menu__wrapper {
  display: flex;
  align-items: center;
}

/* ハンバーガーメニュー
--------------------------- */
.menu {
  width: 1.375rem;
  height: 0.625rem;
  position: relative;
  z-index: 3;
  border: none;
  margin-right: 7px;
}

.bar {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.bar__top {
  top: 0px;
}

.bar__mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar__bottom {
  bottom: 0px;
}

.menu__text {
  font-size: 0.625rem;
  color: #fff;
}

/* ハンバーガーメニューの閉じる挙動
------------------------------------------- */
.menu.close .bar__top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform .3s;
}

.menu.close .bar__mid {
  opacity: 0;
  transition: opacity .3s;
}

.menu.close .bar__bottom {
  transform: translate(-50%, -13px) rotate(-45deg);
  transition: transform .3s;
}

/* ------------------------------
SP画面
------------------------------- */
.fv__wrapper {
  position: relative;
  z-index: 1;
  height: 740px;
}

.fv__main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}

.fv__main__img img {
  max-width: 100%;
}

.fv__sub__img {
  width: 54.2%;
  height: 740px;
  margin-left: auto;
}

.fv__sub__img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__catch {
  position: absolute;
  top: 22%;
  right: 13.5%;
  color: #FFFFFF;
}

/* font
------------------------ */
.fv__text__1 {
  font-family: 游ゴシック体;
}

.fv__text__2 {
  font-family: Montserrat;
}

.fv__text__1,
.fv__text__2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: 0em;
}

.fv__catch__title {
  font-size: 72px;
  font-weight: Bold;
  line-height: 1.19444;
  letter-spacing: 0em;
  font-family: 'Montserrat', sans-serif;
}

.about__wrapper {
  height: 627px;
}

.about__main__view {
  position: relative;
  /* section__wrapper 起点 */
  position: absolute;
  top: 120px;
  z-index: 1;
}

.about__inner {
  /* .about__main__viewのrelative 起点 */
  position: absolute;
  top: 110px;
  left: 50px;
  z-index: 1;
  width: 590px;
  height: 387px;
  background-color: #FFFFFF;
  opacity: .95;
}

.about__title {
  margin-left: 30px;
}

.btn__about {
  margin-left: 30px;
}

.about__img {
  max-width: 1100px;
  height: auto;
}

.about__img img {
  width: 100%;
  object-fit: cover;
}

.about__text {
  padding: 30px;
}

/* font
------------------------- */
.about__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 2.9375;
  letter-spacing: 0.068em;
}

.about__text {
  font-family: Noto Sans JP;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0em;
}

.contents__wrapper {
  background-color: #F0F0F0;
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content__inner {
  margin: 180px 0 60px;
}

.content__title {
  margin-bottom: 30px;
}

.content__img {
  width: 520px;
  height: auto;
}

.content__img img {
  max-width: 100%;
}

.content__text {
  padding: 30px 0;
}

/* font
------------------------- */
.content__inner {
  color: #333333;
}

.content__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.21875;
  letter-spacing: 0.068em;
}

.content__text {
  font-family: 游ゴシック体;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0em;
}
/*# sourceMappingURL=style.css.map */