.header__wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3vw;
}
.header__logo {
  // width: 260px;
  height: auto;
  display: flex;
  line-height: 0;
  // img {
  //   width: 100%;
  //   object-fit: cover;
  //   vertical-align: bottom;
  //   color: #1B1310;
  // }
  display: flex;
  >a {
    display: block;
  }
}
.fv__text__1 {
  margin-bottom: 8px;
}
.fv__text__2 {
  margin-bottom: 10px;
}
.header__nav {
  display: none;
}
.menu__wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  z-index: 4;
}

/* ハンバーガーメニュー
--------------------------- */
.menu {
  position: relative;
  width: 1.375rem;
  height: 0.625rem;
  border:none;
  margin-right: 7px; 
}
.bar{
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.bar__top{
  top: 0px;
  transition: transform .3s;
}
.bar__mid{
  top: 50%;
  transform: translate(-50%,-50%);
  transition: transform .3s;
}
.bar__bottom{
  bottom: 0px;
  transition: transform .3s;
}
.menu__text {
  font-size: 0.625rem;
  color: #fff;
}
/* ハンバーガーメニューの閉じる挙動
------------------------------------------- */ 
.menu.open .bar__top{
  transform: translate(-50%,3px) rotate(45deg);
  transition: transform .3s;
}
.menu.open .bar__mid{
  opacity: 0;
  transition: opacity .3s;
}
.menu.open .bar__bottom{
  transform: translate(-50%,-5px) rotate(-45deg);
  transition: transform .3s;
}

/* ハンバーガーメニューの全画面表示
------------------------------------------- */
.menu__overray {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #222222;
  opacity: 0.6;
}
.header__nav {
  display: block;
  position: fixed;
  top: 0;
  right: -35.3vw;
  z-index: 3;
  width: 35.3vw;
  height: 100vh;
  background-color:#1B1310;
}
.header__nav__inner {
  padding-top: 180px;
}
.header__logo__img {
  max-width: 41.5px;
  margin: 0 auto 40px;
  img {
    width: 100%;
  }
}
.header__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.header__nav.header__list{
  display: block;
  transform: translate(-50%,-50%);
}
.header__item{
  margin-bottom: 40px;
  a {
    color: #ffff;
  }
}
body.noscroll{
  overflow: hidden;
}

/* font
----------------------------------- */
.site__logo__main,
.site__logo__inc {
  font-family: Montserrat ExtraBold;
  color: #fff;
}
.site__logo__main {
  @include f_around(34, 34, false,5);
}
.site__logo__inc {
  @include f_around(22, 22, false,5);
}
.menu__text {
  font-family: Montserrat ExtraBold;
  @include f_around(10, 10, false, 5);
} 

// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .header__inner {
    max-width: 708px;
  }
  .header__logo {
    width: 189px;
    height: auto;
    display: flex;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}