.about__wrapper {
  height: 627px;
  max-width: 1100px;
  margin: 0 auto;
}
.about__main__view {
  /* section__wrapper 起点 */ 
  position: absolute;
  top: 120px;
  z-index: 1;
  height: 607px;
  background: url(/img/home_img/about-img@2x.png) no-repeat center / cover;
  max-width: 1100px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
}
.about__inner {
  height: 387px;
  max-width: 590px;
  background-color: #FFFFFF;
  opacity: .95;
  padding: 30px;
  margin-left: 50px;
}
.about__text {
  padding: 30px 0;
}
.about__img {
  max-width: 1100px;
  height: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .about__wrapper {
    padding: 80px 0;
  }
  .about__main__view {
    max-width: 100%;
    height: 479px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__inner {
    margin: 0;
  }
}

/* font
------------------------- */ 
.about__title {
  font-family: Montserrat;
  @include f_around(32, 32, bold, 68);
}
.about__text {
  font-family: Noto Sans JP;
  @include f_around(16, 32, false, 0);
}
