.about__wrapper {
  height: 627px;
}
.about__main__view {
  position: relative;
  /* section__wrapper 起点 */ 
  position: absolute;
  top: 120px;
  z-index: 1;
}
.about__inner {
  /* .about__main__viewのrelative 起点 */ 
  position: absolute;
  top: 110px;
  left: 50px;
  z-index: 1;
  width: 590px;
  height: 387px;
  background-color: #FFFFFF;
  opacity: .95;
}
.about__title {
  margin-left: 30px;
}
.btn__about {
  margin-left: 30px;
}
.about__img {
  max-width: 1100px;
  height: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.about__text {
  padding: 30px;
}

/* font
------------------------- */ 
.about__title {
  font-family: Montserrat;
  @include f_around(32, 94, bold, 68);
}
.about__text {
  font-family: Noto Sans JP;
  @include f_around(16, 32, false, 0);
}
.btn__img {
  width: 160px;
  height: auto;
  img {
    max-width: 100%;
  }
}