.about__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.about__main__view {
  background: url(/img/home_img/about-img@2x.png) no-repeat center / cover;
  max-width: 1100px;
  width: 100%;
  height: auto;
  padding: 60px 0;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: start;
}
.about__inner {
  height: auto;
  max-width: 590px;
  background-color: #FFFFFF;
  opacity: .95;
  padding: 40px 30px;
}
.about__text {
  padding: 30px 0;
}
.about__img {
  max-width: 1100px;
  height: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .about__wrapper {
    padding-top: 80px;
  }
  .about__main__view {
    max-width: 100%;
    height: auto;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__inner {
    margin: 0;
  }
}

/* --------------------------------------
レスポンシブ max-width: 368px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  // .about__main__view {
  
  // }
  .about__inner {
    height: auto;
    width: 345px;
    padding: 50px 15px 50px 30px;
    display: flex;
    flex-direction: column;
  }
  .about__text {
    max-width: 300px;
    height: auto;
  }
}


/* font
------------------------- */ 
.about__title {
  font-family: Montserrat;
  @include f_around(32, 32, bold, 68);
}
.about__text {
  font-family: Noto Sans JP;
  @include f_around(16, 32, false, 0);
}

/* --------------------------------------
レスポンシブ max-width: 368px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .about__title {
    @include f_around(28, 28, bold, 68);
  }
  .about__text {
    @include f_around(14, 28, false, 0);
  }
}
