.about__wrapper {
  height: 627px;
  max-width: 1100px;
  margin: 0 auto;
}
.about__main__view {
  position: relative;
  /* section__wrapper 起点 */ 
  position: absolute;
  top: 120px;
  z-index: 1;
}
.about__inner {
  /* .about__main__viewのrelative 起点 */ 
  position: absolute;
  top: 110px;
  left: 50px;
  z-index: 1;
  max-width: 590px;
  height: 387px;
  background-color: #FFFFFF;
  opacity: .95;
  padding: 30px;
}
.about__text {
  padding: 30px 0;
}
.about__img {
  max-width: 1100px;
  height: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .about__main__view {
    position: relative;
    /* section__wrapper 起点 */ 
    position: absolute;
    z-index: 1;
  }
  .about__inner {
    /* .about__main__viewのrelative 起点 */ 
    position: absolute;
    top: 60px;
    left: 89px;
    height: 359px;
  }
  .about__img {
    height: auto;
    img {
      height: 479px;
    }
  }
}

/* font
------------------------- */ 
.about__title {
  font-family: Montserrat;
  @include f_around(32, 32, bold, 68);
}
.about__text {
  font-family: Noto Sans JP;
  @include f_around(16, 32, false, 0);
}
