.contact__inner {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 120px;
}
.contact__lead {
  max-width: 440px;
}
.contact__img {
  width: 580px;
  height: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.contact__title {
  margin-top: 30px;
}
.btn__contact {
  margin-top: 30px;
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .contact__img {
    width: 520px;
    height: auto;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .contact__inner {
    padding: 40px 0 80px;
  }
  .contact__lead {
    max-width: 510px;
  }
}

/* --------------------------------------
レスポンシブ max-width: 375px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .contact__img {
    width: 345px;
    height: auto;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .contact__inner {
    padding: 40px 0;
  }
}

/* font
----------------------- */
.contact__text {
  font-family: 游ゴシック体 Medium;
  @include f_around(16, 32, false, 0);
}

