.content__title {
  margin-bottom: 30px;
}
.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 180px;
}
.content__inner {
  margin-bottom: 60px;
}
.content__img {
  width: 520px;
  height: auto;
  img {
    max-width: 100%;
  }
}
.content__text {
  padding: 30px 0;
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .content__wrapper {
    padding-top: 0;
  } 
  .content__inner {
    margin-bottom: 0;
    padding: 40px 0;
  }
}

/* --------------------------------------
レスポンシブ max-width: 365px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .content__wrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content__inner {
    margin: 0;
  }
  .culture__mq__sm {
    margin-top: 40px;
  }
  .content__img {
    width: 345px;
    height: auto;
    img {
      max-width: 100%;
    }
  }
}

/* font
------------------------- */
.content__inner {
  color: #333333;
}
.content__title {
  font-family: Montserrat;
  @include f_around(32, 39, bold, 68);
}
.content__text {
  font-family: 游ゴシック体;
  @include f_around(16, 16, false, 0);
}

/* --------------------------------------
レスポンシブ max-width: 365px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .content__title {
    @include f_around(28, 34, false, 68);
  }
  .content__text {
    @include f_around(16, 34, false, 0);
  }
}