.fv__wrapper {
  position: relative;
  z-index: 1;
  height: auto;
}
.fv__main__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 78.6%;
  height: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.fv__sub__img {
  width: 54.2%;
  height: 740px;
  margin-left: auto;
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.fv__catch {
  position: absolute;
  top: 22%;
  right: 13.5%;
  color: #FFFFFF;
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .fv__main__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: auto;
    img {
      max-width: 100%;
      height: 890px;
      object-fit: cover;
    }
  }
  .fv__sub__img {
    width: 562px;
    height: auto;
    margin-left: auto;
    img {
      max-width: 100%;
      height: 1024px;
      object-fit: cover;
    }
  }
  .fv__catch__home {
    position: absolute;
    top: 333px;
    right: 80px;
    color: #FFFFFF;
  }
}

/* font
------------------------ */ 
.fv__text__1 {
  font-family: 游ゴシック体;
}
.fv__text__2 {
  font-family: Montserrat;
}
.fv__text__1,
.fv__text__2 {
  @include f_around(20, 17, bold, 0);
}
.fv__catch__title {
  @include f_around(72, 86, Bold, 0);
  font-family: 'Montserrat', sans-serif;
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .catch__home__title {
    @include f_around(56, 53, Bold, 63);
  }
}