.vision__wrapper {
  max-width: 415px;
  padding: 120px 0;
  margin-left: 20.55%;
}
.vision__title {
  margin-bottom: 30px;
}
.vision__sub__title {
  margin-bottom: 30px;
}

// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .vision__wrapper {
    padding: 80px 0;    
    margin-left: 16.95%;    
  }
  .vision__sub__title {
    margin-bottom: 35px;  
  }
}

// レスポンシブ max-width: 375px;
@include mq-down($breakpoint: sm) {
  .vision__wrapper {
    padding: 80px 0;    
    margin-left: 0;    
  }
  .vision__sub__title {
    margin-bottom: 35px;  
  }
}


/* font
----------------------------- */ 
$vision__text__color: #333333;
.vision__title {
  font-family: Montserrat ExtraBold;
  @include f_around(32, 32, bold, 68);
  color: $vision__text__color;
}
.vision__sub__title {
  font-family: 游ゴシック体;
  @include f_around(24, 24, bold, 5);
  color: $vision__text__color;
}
.vision__text {
  font-family: Noto Sans JP Bold;
  @include f_around(14, 28, false, 0);
  color: $vision__text__color;
}

/* --------------------------------------
レスポンシブ max-width: 768px; 
----------------------------------------*/
@include mq-down($breakpoint: md) {
  .vision__sub__title {
    font-family: Noto Sans JP Bold;
    @include f_around(24, 24, false, 5);
    color: $vision__text__color;
  }
  
}