.fv__catch__about {
  position: absolute;
  top: 33.64%;
  right: 11.82%;
}
.about_main_img {
  max-width: 1100px;
  height: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.fv__sub {
  width: 54.2%;
  height: auto;
  margin-left: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.ab__fv__text {
  margin-top: 5px;
}

/* ------------------------------------
レスポンシブ max-width: 768px;
------------------------------------- */ 
@include mq-down($breakpoint: md) {
  .fv__catch__about {
    margin-top: 0;
    top: 35.8%;
    right: 12.8%;
  }
  .about_main_img {
    width: 587px;
    img {
      max-width: 100%;
      height: 529px;
      object-fit: cover;
      object-position: 45%;
    }
  }
  .fv__sub {
    width: 52.9%;
    height: auto;
    margin-left: auto;
    img {
      max-width: 100%;
      height: 615px;
      object-fit: cover;
    }
  }
}

/* --------------------------------------
レスポンシブ max-width: 375px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .about_main_img {
    width: 287px;
    img {
      max-width: 100%;
      height: 387px;
      object-fit: cover;
      object-position: 53%;
    }
  }
  .about_sub_img {
    width: 197px;
    img {
      max-width: 100%;
      height: 449px;
      object-fit: cover;
    }
  }
  .fv__catch__about {
    position: absolute;
    top: 149px;
    right: 29px;
  }
}


/* font
----------------------------- */ 
.fv__catch__about {
  font-family: 'Montserrat', sans-serif;
  @include f_around(72, 86, Bold, 63);
}
.ab__fv__text {
  font-family: Noto Sans JP Bold;
  @include f_around(20, 20, false, 5);
  color: #fff;
}

// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .fv__catch__about {
    font-family: 'Montserrat ExtraBold';
    @include f_around(52, 86, Bold, 63);
  }
  .ab__fv__text {
    font-family: Noto Sans JP Bold;
    @include f_around(16, 16, false, 5);
  }
  
}

// レスポンシブ max-width: 375px;
@include mq-down($breakpoint: sm) {
  .fv__catch__about {
    font-family: 'Montserrat ExtraBold';
    @include f_around(52, 71, Bold, 63);
  }
  .ab__fv__text {
    font-family: Noto Sans JP Bold;
    @include f_around(16, 16, false, 5);
  }
  
}
