.about_catch_position {
  margin-top: 11.46vh;
}
.about_main_img {
  max-width: 1100px;
  height: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.fv__sub {
  width: 54.2%;
  height: auto;
  margin-left: auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.ab__fv__text {
  margin-top: 5px;
}
.company__map {
  position: relative;
  padding-bottom: 32.73%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
} 
.company__map iframe,
.company__map object,
.company__map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .about_catch_position {
    margin-top: 0;
    top: 35.8%;
    right: 12.8%;
  }
  .about_main_img {
    width: 587px;
    img {
      max-width: 100%;
      height: 529px;
      object-fit: cover;
      object-position: 45%;
    }
  }
  .fv__sub {
    width: 52.9%;
    height: auto;
    margin-left: auto;
    img {
      max-width: 100%;
      height: 615px;
      object-fit: cover;
    }
  }
  .company__map {
    padding-bottom: 24.04%;
  }
}


/* font
----------------------------- */ 
.fv__catch__title {
  font-family: 'Montserrat', sans-serif;
  @include f_around(72, 86, Bold, 63);
}
.ab__fv__text {
  font-family: Noto Sans JP Bold;
  @include f_around(20, 20, false, 5);
}

// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .fv__catch__title {
    font-family: 'Montserrat', sans-serif;
    @include f_around(52, 86, Bold, 63);
  }
  .ab__fv__text {
    font-family: Noto Sans JP Bold;
    @include f_around(16, 16, false, 5);
  }
  
}

