.company__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
.company__main__title {
  border-bottom: 1px solid #DDDDDD;
}
.company__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
}
.company__title {
  width: 30%;
}
.company__text {
  width: 70%;
}
.company__text,
.company__title {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0;
}
.company__map {
  margin-top: 40px;
  position: relative;
  padding-bottom: 32.73%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
} 
.company__map iframe,
.company__map object,
.company__map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// レスポンシブ max-width: 768px;
@include mq-down($breakpoint: md) {
  .company__wrapper {
    padding: 0 0 80px;
  }
  .company__list {
    max-width: 678px;
  }
  .company__map {
    padding-bottom: 24.04%;
  }
}

/* --------------------------------------
レスポンシブ max-width: 375px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .company__main__title {
    padding-bottom: 30px;
  }
  .company__map {
    padding-bottom: 136.15%;
  }
}


/* font
----------------------- */ 
$company__text__color: #333333;
.company__main__title {
  font-family: Montserrat ExtraBold;
  @include f_around(32, 94, false, 68);
  color: $company__text__color;
}
.company__title {
  font-family: 游ゴシック体;
  @include f_around(16, 16, bold, 0);
  color: $company__text__color;
}
.company__text {
  font-family: 游ゴシック体;
  @include f_around(16, 16, false, 0);
  color: $company__text__color;
}


/* --------------------------------------
レスポンシブ max-width: 375px; 
----------------------------------------*/
@include mq-down($breakpoint: sm) {
  .company__main__title {
    @include f_around(32, 32, false, 68);
  }
}
